<?php

$brands = $this->getList()->getItems();

?>
<?php foreach ($brands as $brand):?>
    <pre>

    <h2><a class="x" href="pages/view/id/<?=$brand->getBrand_id()?>"><?=$brand->getName()?></a></h2>
    </pre>
<?php endforeach;?>

<script type="text/javascript" defer>

    // alert("fdvdxfv");
    // console.log(jQuery);

    let elements = document.getElementsByClassName('x');

    let arr = Array.from(elements);

    arr.forEach(function(el, i, arr) {
        el.addEventListener("click", function (event) {
            event.preventDefault();
            let text = el.innerHTML;
            console.log(text);


        })
    });
    // fetch('http://example.com/movies.json')
    //     .then((response) => {
    //         return response.json();
    //     })
    //     .then((data) => {
    //         console.log(data);
    //     });
    // $('.x').on('click', function(event) {
    //     event.preventDefault();
    //     event.stopPropagation();
    //     console.log('!!!');
    // })
</script>

