<!--@subject Email Subject @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}

<p style="font: 2em;">Hi {{var name}}.</p>
<p>You have got a gift - {{var price}}$ for shopping in our Shop. Your discount code is {{var cardCode}}.</p>
<p>Use it as  Discount Code during checkout.</p>
<p>Have a nice day and shopping!</p>

{{template config_path="design/email/footer_template"}}
