<script>
//    Simplest Ajax
    // require([
    //     'jquery',
    //     "jquery/ui",
    // ], function ($) {
    // $("#click-me").click(function() {
    //     alert("svrvsr!!!!");
    //
    //     $.ajax({
    //         method: "POST",
    //         url: "callback/ajax/index",
    //         data: { name: "hello", phone: "123", comment: "dcdcfdv"},
    //         dataType: "json"
    //     }).done(function( msg ) {
    //         console.log(msg);
    //     });
    //
    // });
    // })



    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                buttons: [{
                    text: $.mage.__('Cancel'),
                    class: 'mymodal1',
                }]
            };

            var popup = modal(options, $('#custompopup'));
            $("#click-me").on('click',function(){
                $("#custompopup").modal("openModal");
            });


            $('#submit_data').on('click', function (){
                var nickName = $("input[name='name']").val();
                var phone = $("input[name='phone']").val();
                var textReview = $("textarea[name='textreview']").val();
                $.ajax({
                    method: "POST",
                    url: "callback/ajax/index",
                    data: { name: nickName, phone: phone, comment: textReview},
                    dataType: "json"
                }).done(function( msg ) {
                    console.log(msg);
                });
            });
        }
    );

</script>

<div class="myWrap"><button id="click-me">Callback</button></div>

<div id="custompopup">

<!--    Simplest form  -->
    <form method="POST" name="custom_view">
        <label class="label" for="name"><span>Name</span></label>
        <input name="name" id="name" title="name" class="name" type="text">

        <label class="label" for="phone"><span>Phone</span></label>
        <input name="phone" id="phone" title="phone" class="phone" type="text">

        <label class="label" for="textreview"><span>Text Review</span></label>
        <textarea name="textreview" id="textreview" title="textreview" class="textreview" type="text" cols="5" rows="3"></textarea>

        <button type="submit" title="Submit" class="actionSubmitPrimary" id="submit_data">
            <span>Submit Review</span>
        </button>
    </form>



<!--    <form class="form contact"-->
<!--          action="--><?php ///* @escapeNotVerified */ echo $block->getFormAction(); ?><!--"-->
<!--          id="contact-form"-->
<!--          method="post"-->
<!--          data-hasrequired="--><?php ///* @escapeNotVerified */ echo __('* Required Fields') ?><!--"-->
<!--    >-->
<!--        <fieldset class="fieldset">-->
<!--            <legend class="legend"><span>--><?php ///* @escapeNotVerified */ echo __('Write Us') ?><!--</span></legend><br />-->
<!--            <div class="field note no-label">--><?php ///* @escapeNotVerified */ echo __('Jot us a note and we will get back to you as quickly as possible.') ?><!--</div>-->
<!--            <div class="field name required">-->
<!--                <label class="label" for="name"><span>--><?php ///* @escapeNotVerified */ echo __('Name') ?><!--</span></label>-->
<!--                <div class="control">-->
<!--                    <input name="nickname" id="name" title="--><?php ///* @escapeNotVerified */ echo __('Name') ?><!--" value="--><?php //echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?><!--" class="input-text" type="text" data-validate="{required:true}"/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field telephone">-->
<!--                <label class="label" for="telephone"><span>--><?php ///* @escapeNotVerified */ echo __('Phone Number') ?><!--</span></label>-->
<!--                <div class="control">-->
<!--                    <input name="phone" id="telephone" title="--><?php ///* @escapeNotVerified */ echo __('Phone Number') ?><!--" value="--><?php //echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?><!--" class="input-text" type="text" />-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field comment required">-->
<!--                <label class="label" for="comment"><span>--><?php ///* @escapeNotVerified */ echo __('Whats on your mind?') ?><!--</span></label>-->
<!--                <div class="control">-->
<!--                    <textarea name="textreview" id="comment" title="--><?php ///* @escapeNotVerified */ echo __('Whats on your mind?') ?><!--" class="input-text" cols="5" rows="3" data-validate="{required:true}">--><?php //echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?><!--</textarea>-->
<!--                </div>-->
<!--            </div>-->
<!--            --><?php //echo $block->getChildHtml('form.additional.info'); ?>
<!--        </fieldset>-->
<!---->
<!--        <div class="actions-toolbar">-->
<!--            <div class="primary">-->
<!--                <input type="hidden" name="hideit" id="hideit" value="" />-->
<!--                <button id="submit_data" type="submit" title="--><?php ///* @escapeNotVerified */ echo __('Submit') ?><!--" class="action submit primary">-->
<!--                    <span>--><?php ///* @escapeNotVerified */ echo __('Submit') ?><!--</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
</div>






