<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>454545</h1>

<div>Сustomer name is {{var name}}. Please call the phone number {{var phone}} and answer the question {{var comment}}</div>

</body>
</html>