<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title">Shipping Comment</span>
    </div>
    <div class="admin__page-content">
        <p><?php echo $block->getOrderComment(); ?></p>
    </div>
</section>
