<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->


        <div class="field _required" id="customField1">
            <label class="label">
                <span style="font-weight: 600">Receiver mail</span>
            </label>
            <div>(Please enter email where we'll send the gift card code)</div>
            <div class="control">
                <input type="email" name="payment[bankowner]" class="input-text" value=""
                       data-bind="attr: {
                                    id: getCode() + '_receiverMail',
                                    title: $t('Account Owner'),
                                    'data-container': getCode() + '-bankowner',
                                    'data-validate': JSON.stringify({'required':true})},
                                    valueUpdate: 'keyup' "
                       data-validate="{required:true}"/>
            </div>
            <div style="color: #e02b27; font-size: 1.2rem; display: none" id="myErrorMess1">This is a required field.
            </div>
        </div>

        <div class="field _required" id="customField2">
            <label class="label">
                <span style="font-weight: 600">Receiver name</span>
            </label>
            <div>(Please enter name whom we will send the gift card code)</div>
            <div class="control">
                <input type="text" name="payment[bankowner]" class="input-text" value=""
                       data-bind="attr: {
                                    id: getCode() + '_receiverName',
                                    title: $t('Account Owner'),
                                    'data-container': getCode() + '-bankowner',
                                    'data-validate': JSON.stringify({'required':true})},
                                    valueUpdate: 'keyup' "
                       data-validate="{required:true}"/>
            </div>
            <div style="color: #e02b27; font-size: 1.2rem; display: none" id="myErrorMess2">This is a required field.
            </div>
        </div>

        <div class="field _required" id="customField3">
            <label class="label">
                <span style="font-weight: 600">delivery date</span>
            </label>
            <div>(Please enter delivery_date)</div>
            <div class="control">
                <input type="text" name="payment[bankowner]" class="input-text" value=""
                       data-bind="attr: {
                                    id: getCode() + '_deliveryDate',
                                    title: $t('Account Owner'),
                                    'data-container': getCode() + '-bankowner',
                                    'data-validate': JSON.stringify({'required':true})},
                                    valueUpdate: 'keyup' "
                       data-validate="{required:true}"/>
            </div>
            <div style="color: #e02b27; font-size: 1.2rem; display: none" id="myErrorMess3">This is a required field.
            </div>
        </div>


        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: getMailingAddress() || getPayableTo() -->
        <dl class="items check payable">
            <!-- ko if: getPayableTo() -->
            <dt class="title"><!-- ko i18n: 'Make Check payable to:' --><!-- /ko --></dt>
            <dd class="content"><!-- ko text: getPayableTo() --><!-- /ko --></dd>
            <!-- /ko -->
            <!-- ko if: getMailingAddress() -->
            <dt class="title"><!-- ko i18n: 'Send Check to:' --><!-- /ko --></dt>
            <dd class="content">
                <address class="checkmo mailing address" data-bind="html: getMailingAddress()"></address>
            </dd>
            <!-- /ko -->
        </dl>
        <!-- /ko -->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: function() { var f = customValidation(); if (f==true) {placeOrder();} }
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>


        
